.imageLinkForm-container {
}

.imageLinkForm {
  width: 75%;
  height: 48px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-top: 48px;
  background-color: #fff;
  border-radius: 4px;
  border: 2px solid #1b2634;
}

.imageLinkForm-input {
  width: 100%;
  border-radius: 4px;
  box-sizing: content-box;
  box-shadow: none;
  background-color: transparent;
  color: #1c1e1e;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 12px 85px 12px 5px;
  height: 100%;
  caret-color: #1b2634;
  transition: border-color .2s;
}

.imageLinkForm-button {
  position: absolute;
  right: 6px;
  background-color: #009cff;
  width: 77px;
  height: 36px;
  border-radius: 2px;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  padding: 11px 0;
  border: none;
  /* opacity: 0; */
  transition: opacity .2s,visibility 0s .2s;
  /* visibility: hidden; */
}

.imageLinkForm-button:focus {
  outline: none;
}
