.inputDiv {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  margin: 10px;
}

.form-heading {
  font-size: 25px;
  margin: 10px;
  color: rgba(0,0,0,.7);
}

.form {
  background-color: rgba(255,255,255,.4);
  border-radius: 3px;
  max-width: 400px;
  min-height: 350px;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}

.input {
  border-radius: 3px;
  background-color: rgba(255,255,255,.6);
  display: block;
  padding: 8px;
  margin: 0 auto;
  font-size: 20px;
  border: none;
  transition: all .2s;
}

.input::placeholder {
  color: rgba(0,0,0,.4);
  font-size: 16px;
  padding-top: 20px;
}

.input:focus {
  outline: none;
  background-color: rgba(255,255,255,.9);
  box-shadow: 0 7px 14px rgba(0,0,0,.1);
}

.input-btn {
  padding: 13.44px 34.24px;
  background-color: rgba(255,255,255,.6);
  border-radius: 3px;
  border: none;
  font-size: 12.96px;
  outline: none;
  transition: all .3s;
}

.input-btn:hover {
  box-shadow: 0 7px 14px rgba(0,0,0,.2);
  transform: translateY(-2px);
}

.input-btn:active {
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  transform: translateY(-1px);
  border: none;
}

.inputLabel {
  margin-top: 10px;
  margin-left: 8px;
  color: rgba(0,0,0,.7);
}
