.input-div {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

.input {
  display: block;
  width: 100%;
  min-height: 40px;
  height: 40px;
  padding: 10px 19px 7px 19px;
  border-radius: 3px;
  box-sizing: border-box;
  color: rgba(0,0,0,.7);
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 18px;
  transition: all .5s;
  border: none;
  border-bottom: 3px solid transparent;
}

.input::placeholder {
  color: rgba(0,0,0,.5);
}

.input:focus {
  outline: none;
  box-shadow: 0 1px 10px rgba(0,0,0,.5);
}

.input-label {
  margin: 10px 20px;
  font: 400 17.333px Arial;
  color: rgba(0,0,0,.6);
  transform: translateY(0);
  transition: all .2s;
}

.input:placeholder-shown + .input-label {
  transform: translateY(-32px);
  opacity: 0;
  visibility: hidden;
}
