body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  color: #eeeeee;
  background-color: #212121;
  background-image: url(./assets/img/bg-image.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

button {
  cursor: pointer;
}

.home {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

a {
  color: inherit;
  outline: none;
}
